<ion-header>

	<ion-toolbar>

		<ion-buttons slot="start">

			<ion-button (click)="cancel()">
				<ion-icon slot="icon-only" name="close-outline"></ion-icon>
			</ion-button>

		</ion-buttons>
		
		<ion-title>New Task</ion-title>
		
		<ion-buttons slot="end">

			<ion-button (click)="insert()" [disabled]="!taskForm.valid">
				<ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
			</ion-button>

		</ion-buttons>

	</ion-toolbar>

</ion-header>

<ion-content>

	<form [formGroup]="taskForm">

		<ion-item>

			<ion-input formControlName="title" placeholder="Task Title" required></ion-input>

		</ion-item>

		<ion-item>

			<ion-textarea formControlName="description" placeholder="Description (Optional)" autoGrow rows="4"></ion-textarea>

		</ion-item>

		<ion-item>

			<ion-datetime-button datetime="taskDate"></ion-datetime-button>
	
			<ion-datetime id="taskDate" formControlName="date" presentation="date" locale="es-ES" showDefaultButtons doneText="Accept" cancelText="Cancel">

				<span slot="title">Select a Date</span>

			</ion-datetime>

		</ion-item>

		@if (taskForm.get('title')?.invalid && taskForm.get('title')?.touched) {

			<ion-note color="danger" class="validation-error">
				Tittle is required (50 characters max)
			</ion-note>

		}

		@if (taskForm.get('description')?.invalid && taskForm.get('description')?.touched) {

			<ion-note color="danger" class="validation-error">
				Description is required (200 characters max)
			</ion-note>

		}

	</form>

</ion-content>