<ion-header>

	<ion-toolbar>

		<ion-buttons slot="start">

			<ion-back-button defaultHref="/home"></ion-back-button>

		</ion-buttons>

		<div class="header-title">

			@if (editingField === true) {

				<ion-input [value]="taskForm.get('title')?.value" (ionBlur)="saveChanges(true, $event)" class="title-input" autofocus></ion-input>

			}@else{

				<ion-title (click)="startEditing(true)" class="editable-text">{{

					taskForm.get('title')?.value

				}}</ion-title>

			}

		</div>

		<ion-buttons slot="end">

			<ion-button (click)="deleteTask()">

				<ion-icon slot="icon-only" name="trash-outline"></ion-icon>

			</ion-button>

		</ion-buttons>

	</ion-toolbar>

</ion-header>

<ion-content>
	
	<form [formGroup]="taskForm">

		<ion-item lines="none">

			@if (editingField === false) {

				<ion-textarea [value]="taskForm.get('description')?.value" (ionBlur)="saveChanges(false, $event)" autoGrow autofocus></ion-textarea>
				
			}@else{

				<ion-label (click)="startEditing(false)" class="editable-text description-label">{{

					taskForm.get('description')?.value || 'Click here to add description'

				}}</ion-label>

			}

		</ion-item>

		<ion-item>

			<ion-datetime-button datetime="taskDate"></ion-datetime-button>

			<ion-datetime id="taskDate" (ionChange)="saveTask()" formControlName="date" presentation="date" locale="es-ES" showDefaultButtons doneText="Accept" cancelText="Cancel">

				<span slot="title">Select a date</span>

			</ion-datetime>

		</ion-item>

		<ion-item>

			<ion-toggle (ionChange)="saveTask()" formControlName="done" labelPlacement="end">
				Done
			</ion-toggle>

		</ion-item>

		@if (taskForm.get('title')?.invalid && taskForm.get('title')?.touched) {

			<ion-note color="danger" class="validation-error">
				Tittle is required (50 characters max)
			</ion-note>

		}

		@if (taskForm.get('description')?.invalid && taskForm.get('description')?.touched) {

			<ion-note color="danger" class="validation-error">
				Description is required (200 characters max)
			</ion-note>

		}

	</form>
	
</ion-content>